.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 90vh;
}

.fieldContainer {
  flex-basis: 90vh;
  aspect-ratio: 1 / 1;
}

.gamerContainer {
  margin: 5px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 300px;
}

.miniGamerMenu {
  flex-direction: row;
  font-size: 10px;
  width: 120px;
  height: 90px;
}

.navContainer {
  margin: 5px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100px;
}

.btnReadyToPlay {
  width: 100px;
  height: 40px;
  border: 2px solid green;
  border-radius: 15px;
  color: green;
  background-color: aqua;
}

.btnDisconnect {
  width: 100px;
  height: 30px;
  border: 2px solid red;
  border-radius: 15px;
  color: red;
  background-color: aqua;
}


@media (max-width:100vh) {
  .container {
    flex-direction: column;
  }

  .gamerContainer {
    width: 100%;
    flex-direction: row;
    height: auto;
  }

  .navContainer {
    width: 100%;
    flex-direction: row;
    height: auto;
  }

  .fieldContainer {
    width: 95vw;
    height: 95vw;
    flex-shrink: 0;
    flex-basis: auto;
  }
}